doctype html
html
	head
		title #{title}
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/0.9.8/chartist.min.css")
		//- script(src="https://cdn.jsdelivr.net/chartist.js/0.9.8/chartist.min.js")
		//- script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		//- script(src="javascript/moment.js")
		script(src="javascript/bundle.js")
		body
			div(class="container-fluid")
				div(class="row")
					div(class="col-md-3")
					div(class="col-md-6")
						h1(style="text-align:center") Fitchen
						p(style="text-align:center")
							b Your fridge
						div(class="ct-chart ct-perfect-fourth")
					div(class="col-md-3")
			script(type="text/javascript" src="javascript/chart.js")